@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.b1 {
  animation: ani1 15s infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.b2 {
  animation: ani2 15s infinite;
}
.b3 {
  animation: ani3 15s infinite;
}
.b4 {
  animation: ani4 15s infinite;
}
.b5 {
  animation: ani5 15s infinite;
}
.b6{
  animation: ani6 15s infinite;
}
.b7{
  animation: ani7 15s infinite;
}
.b8{
  animation: ani8 15s infinite;
}
.b9{
  animation: ani9 15s infinite;
}
.b10{
  animation: ani10 15s infinite;
}
.b11{
  animation: ani11 15s infinite;
}

.arr1 {
  animation: arran1 2s infinite;
}



@keyframes arran1 {
  0% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}

 

@keyframes ani1 {
  0% {
    opacity: 0;
    
  }
  5% {
    opacity: 1;
    
  }
  10% {
    opacity: 0;
  }
}

@keyframes ani2 {
  10% {
    opacity: 0;
    
  }
  15% {
    opacity: 1;
   
  }
  20% {
    opacity: 0;
  }
}
@keyframes ani3 {
  20% {
    opacity: 0;
   
  }
  25% {
    opacity: 1;
    
  }
  30% {
    opacity: 0;
  }
}
@keyframes ani4 {
  30% {
    opacity: 0;
    
  }
  35% {
    opacity: 1;
    
  }
  40% {
    opacity: 0;
  }
}
@keyframes ani5 {
  40% {
    opacity: 0;
  
  }
  45% {
    opacity: 1;
  
  }
  50% {
    opacity: 0;
  }
}
 @keyframes ani6 {
  50%{
    width: 0;
  }
  54%{
    width: 0;
    z-index: -10;
  }
  55%{
    width: 100%;
    z-index: 10;

  }
  80%{
    width: 100%;
    z-index: 10;
    

  }
  95%{
    z-index: -10;
  }

  100%{
    width: 0%;
    /* opacity: 0; */
    z-index: -10;
  }
}
/* 

.image{
  background-image:url('/images/gymm.jpg');
} */
